/* You can add global styles to this file, and also import other style files */
@import '/src/app/minxins/variables.scss';

html, body {
  height: 100%;
  background-color: $cor-primaria;
}

p, h1, h2, h3 {
  color: $cor-secondaria;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-icon {
  color: $cor-primaria;
}
